<div class="header-navbar">          
    <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/unitwizard">Unit Explorer</a></li>
        <li><a routerLink="">FAQ</a></li>
        <li><a routerLink="">Consultation</a></li>
    </ul>

    <form class="navform" action="includes/login.inc.php" method="post">
        <input name="usrname" type="text" placeholder="Username...">
        <input name="usrpassword" type="password" placeholder="Password...">
        <button name="login-submit" type="submit">Login</button>
        <button>Signup</button>
    </form>
    
</div>